#customers__think {
	position: relative;
	padding: 5.02rem 0 7.15rem;
}
#customers__think .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
#customers__think .background_mb {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
#customers__think .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#customers__think .container > h2 {
	margin-bottom: 7.75rem;
	text-align: center;
}
#customers__think .content__group {
	padding: 3.28rem 5.5rem 3.28rem 3.28rem;
	border-radius: 1.09338rem;
	border: 1.205px solid var(--outline-neutral-16, rgba(112, 115, 124, 0.16));
	background: #fff;
	box-shadow: 43.736px 30.615px 87.472px 0px rgba(0, 0, 0, 0.08);
	position: relative;
	width: 100%;
	display: flex;
	justify-content: end;
}
#customers__think .content__group .group__image{
	position: absolute;
	width: 36.875rem;
	height: calc(100% + 3rem);
	top: 50%;
	transform: translateY(-50%);
	left: 3.31rem;
	box-shadow: 0px 6.025px 38.08px 0px rgba(0, 0, 0, 0.03);
	border-radius: 0.75313rem;
	overflow: hidden;
}
#customers__think .content__group .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#customers__think .content__group .content {
	width: 37.20588rem;
}
#customers__think .content .desc {
	color: var(--Text-Text-Oxford-Blue-87-body-text-1);
	font-size: var(--font-size-H6);
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 1.44rem;
}
#customers__think .content .name {
	color: var(--Text-Text-Oxford-Blue-87-body-text-1);
	font-size: var(--font-size-sub1);
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
	letter-spacing: 0.03125rem;
}
#customers__think .content .role {
	color: var(--Text-Text-Oxford-Blue-87-body-text-1);
	font-size: var(--font-size-sub1);
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0.03125rem;

}
#customers__think .content .icon_quote {
	position: absolute;
	width: 5.16788rem;
	height: 4.6875rem;
	position: absolute;
	right: 2.03625rem;
	top: 2rem;
	object-fit: cover;
}
#customers__think .content > div {
	padding-bottom: 1.12rem;
	border-bottom: 1px solid
		var(--outline-alternative-8, rgba(112, 115, 124, 0.08));
	margin-bottom: 2.19rem;
}
@media screen and (max-width: 639px) {
	#customers__think {
		padding: 3rem 0;
	}
	#customers__think .container > h2 {
		margin-bottom: 2.25rem;
	}
	#customers__think .content__group .group__image  {
		position: unset;
		width: 100%;
		height: 17.21775rem;
		transform: translateY(0);
		margin-bottom: 1.88rem;
		border-radius: 0.3125rem;
	}
	#customers__think .content__group .image{
		border-radius: 0.3125rem;
	}
	#customers__think .content__group {
		padding: 1.5rem 1.12rem 1.37rem;
		flex-direction: column;
		border-radius: 0.625rem;
	}
	#customers__think .content__group .content {
		width: 100%;
	}
	#customers__think .content .desc {
		color: var(--Text-Text-Oxford-Blue-100---Body);
		letter-spacing: 0.00938rem;
		margin-bottom: 1.19rem;
	}
	#customers__think .content > div{
		margin-bottom: 0.62rem;
		padding-bottom: 0.62rem;
	}
	#customers__think .content .icon_quote {
		display: none;
	}
	#customers__think .background {
		display: none
	}
	#customers__think .background_mb {
		display: block;
	}
}
